.background {
    background-image: url("https://ultra.io/images/backgrounds/page-intro-1.jpg");
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.container {
    height: 100%;
    background: linear-gradient(180deg, rgba(49, 45, 54, 0) 61.46%, #312d36),
        linear-gradient(72.21deg, #312d36, rgba(49, 45, 54, 0)),
        radial-gradient(100% 145.81% at 100% 0, rgba(49, 45, 54, 0.1) 0, #312d36 100%),
        linear-gradient(72.21deg, #312d36, rgba(49, 45, 54, 0.39));
}
